/*
请把与index.html页面相关的css代码写在这里
同时删除该注释
*/

/* #message只是一个示例，可以删除 */
*{
	padding: 0px;
	margin: 0px;
}
#items {

	line-height: 30px;
	border: 1px solid red;
	margin: 10px auto;
}
td{
	width:150px;
}
#promotions{
	line-height: 30px;
	border: 1px solid red;
	
}
